<head>
	<title>Instagram</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  	<link href="/static/fontawesome/fontawesome-all.css" rel="stylesheet">
  	<link rel="stylesheet" type="text/css" href="grid.css">
  	<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  	<style>
  	    @import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Rouge+Script');

body{
	padding-top: 70px;
	font-family: 'Open Sans', sans-serif;
	background-color: rgba(231, 227, 228, 0.47);
}
.navbar-brand{
	font-family: 'Rouge Script', cursive;
	font-size: 30px;
	margin-top: -10px;

}
.navbar-brand a{
  color: black;
    }
    .navbar-nav>li>a {
      color: black;
    } 
#navbarstyle{
	justify-content: center;
	padding: 0 10%;
}
.introCap{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 45px;
  text-align: center;
  
}

.form-control{
  padding-top: 5px;
}

label{
  padding-top: 15px;
}

#uploadButton{
  margin-top: 15px;
  margin-left: 250px;
  
}
  	</style>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-nav-demo" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      		</button>
	      	</div>
	      	<div id="navbarstyle">
				<a href="/" class="navbar-brand"><span class="fab fa-instagram fa-lg"></span> | Instagram</a>
			
			<form class="navbar-form navbar-left" role="search" action="/explore/tags" method="POST">
		        <div class="form-group">
		              <input type="text" class="form-control" placeholder="Search tags" name="tag">
		        </div>
	     	</form>

				<ul class="nav navbar-nav navbar-right">
 					<li><a href="/explore"><i class="far fa-compass fa-lg"></i></a></li>
					<% if (currentUser) { %>
					    <li><a href="/photos/new"><i class="fa fa-camera fa-lg"></i></a></li>
					    <li><a href="/users/<%= currentUser.username%>"><i class="far fa-user fa-lg"></i></a></li>
					<% } else { %>
                        <li><a href="/login">Login</a></li>
                        <li><a href="/signup">Sign Up</a></li>
					<% } %>
				</ul>
			</div>
		</div>
	</nav>
	

<h1>NEW PHOTOS</h1>
<div class="cointaineer">
  <div class="col-md-2"></div>
  
  <div class="col-md-8">
    <div class="introCap">What do you wanna share today?</div>
    <div class="form-group">
        <form action="/photos" method="POST">
            <label for="url">Picture URL </label>
            <input type="url" class="form-control" id="usr" placeholder="Enter an url link to your picture." name="image_url" required>
            <label for="desciption">Caption</label>
            <textarea class="form-control" rows="8" id="usr" placeholder="Tell us a little bit about your post!" name="caption"></textarea>
            <button id="uploadButton" class="btn btn-success">Upload</button>      
        </form>
    </div>
  </div> <!-- End of center div -->
<div class="col-md-2"></div>
  
  
</div>
